@font-face {
  font-family: "Calder";
  src: url("./fonts/Calder-Dark.woff2") format("woff2"),
    url("./fonts/Calder-Dark.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calder";
  src: url("./fonts/Calder-LC.woff2") format("woff2"),
    url("./fonts/Calder-LC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
